**/node_modules
**/.env
**/.env.*
**/.git
**/.gitignore
**/.vercel
**/vercel.json
**/uploads/*
!**/uploads/.gitkeep
**/dist
**/dist-ssr
**/*.log
**/.DS_Store
**/.vscode
**/.idea
Anher-Frontend
Notes.txt
