Anher-Backend/.env
Anher-Backend/.env.*
!Anher-Backend/.env.example
Anher-Frontend/.env
Anher-Frontend/.env.*
!Anher-Frontend/.env.example
Anher-Backend/node_modules/
Anher-Frontend/node_modules/
Anher-Frontend/dist/
Anher-Backend/uploads/*
!Anher-Backend/uploads/.gitkeep
.env
.env.*
!.env.example
